<form id="someid">
  <div *ngIf='form'>
    <h2>
    <ul>
      <div><span>id: </span>{{form.id}}</div>
      <div><span>First_Name: </span>{{form.First_Name}}</div>
      <div><span>Last_Name: </span>{{form.Last_Name}}</div>
      <div><span>Last_Name2: </span>{{form.Last_Name2}}</div>
      <div><span>Role: </span>{{form.Role}}</div>
      <div><span>Identification: </span>{{form.Identification}}</div>
      <div><span>Birthday: </span>{{form.Birthday}}</div>
      <div><span>Work_place: </span>{{form.Work_place}}</div>
      <div><span>Theory: </span>{{form.Theory}}</div>
      <button class='button' (click)='Close()'>Close</button>
    </ul>
    </h2>
  </div>
  
</form>